<div id="page">
    <div id="title">
        <marquee direction="right" behavior="alternate">
            <h1>LOMBOKER&trade;</h1>
        </marquee>
    </div>

    <form id="lombokizeForm">
        <div id="optionsBack">
            <h2>Options:</h2>
            <div id="options">
                <h3>Indentations:</h3>
                <label class="button">
                    space
                    <input [(ngModel)]="indentType" id="space" type="radio" name="indents" [value]="0"/>
                    <span class="checkmark"></span>
                </label>
                <label class="button">
                    tabulator
                    <input [(ngModel)]="indentType" id="tab" type="radio" name="indents" [value]="1"/>
                    <span class="checkmark"></span>
                </label>
                <h3>Annotations:</h3>
                <label class="button">
                    Force annotation above the class
                    <input [(ngModel)]="forceAnnotations" type="checkbox" name="forceAnnotations"/>
                    <span class="checkmark"></span>
                </label>
                <input (click)="lombokize()" class="submitButton" type="submit" value="LOMBOKIZE!" name="submit">
            </div>
        </div>
        <div id="codeToLombokizeBack">
            <h2>Code to lombokize:</h2>
            <textarea [(ngModel)]="codeToLombokize" name="codeToLombokize">
            </textarea>
        </div>
        <div id="lombokizedCodeBack">
            <h2>Lombokized code:</h2>
            <textarea [(ngModel)]="lombokizedCode" name="lombokizedCode">
            </textarea>
        </div>
    </form>

    <div id="footer">
        Wojciech Baranowski 2023 - 2023
    </div>
</div>
