<div id="page">
    <div id="title">
        <marquee direction="right" behavior="alternate">
            <h1>LOMBOKER&trade;</h1>
        </marquee>
    </div>

    <form id="lombokizeForm">
        <div id="optionsBack">
            <h2>Options:</h2>
            <div id="options">
                <label class="button">
                    Force annotation above the class
                    <input id="forcedAnnotations" type="checkbox"/>
                    <span class="checkmark"></span>
                </label>
                <input id="submit" class="submitButton" type="submit" value="LOMBOKIZE!">
            </div>

        </div>
        <div id="codeToLombokizeBack">
            <h2>Code to lombokize:</h2>
            <textarea>
            </textarea>
        </div>
        <div id="lombokizedCodeBack">
            <h2>Lombokized code:</h2>
            <textarea>
            </textarea>
        </div>
    </form>

    <div id="footer">
        Wojciech Baranowski 2023 - 2023
    </div>
</div>
